<nz-modal [(nzVisible)]="isVisibleModal"
          nzTitle="Edit event"
          (nzOnCancel)="handleCancelkModal()"
          (nzOnOk)="editEvent(myFormModal)"
          [nzOkDisabled]="validateFormModal.invalid">
  <form nz-form [formGroup]="validateFormModal" [nzLayout]="'inline'" (ngSubmit)="editEvent(myFormModal)" #myFormModal="ngForm">
    <nz-form-item>
      <nz-form-label nzFor="phoneNumber" nzRequired>Title</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="title" nz-input placeholder="Title" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateFormModal.get('title')?.dirty && validateFormModal.get('title')?.errors">
          The input is not valid !
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="phoneNumber" nzRequired>Description</nz-form-label>
      <nz-form-control>
        <nz-input-group >
          <input formControlName="description" nz-input placeholder="Description" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateFormModal.get('description')?.dirty && validateFormModal.get('description')?.errors">
          The input is not valid !
        </nz-form-explain>
        <nz-form-explain *ngIf="validateFormModal.get('description')?.dirty && validateFormModal.get('description')?.errors?.countWord">
          Need more than {{validateFormModal.get('description')?.errors?.countWord}} words !
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
