$border-color: #d7d7d7
$have-event: powderblue
%schedule-list-extend
  border-top: 1px solid $border-color
  border-right: 1px solid $border-color
  border-left: 1px solid $border-color
  padding: 10px
.mb-4
  margin-bottom: 4px
.schedule
  list-style-type: none
  padding: 0 0 0 0
.schedule-list:not(:first-child)
  @extend %schedule-list-extend
.schedule-list:last-child
  border-bottom: 1px solid $border-color
  padding: 10px
.schedule-list:first-child
  @extend %schedule-list-extend
.schedule-list_event
  list-style-type: none
  display: flex
  flex-direction: row
  flex-wrap: wrap
.have-event
  background-color: powderblue


