<h1>Calendar App by Andrei Kuzmich, created by Angular</h1>

<h2>{{showSelectedDate()}}</h2>
<h3>{{showSelectedNameDate()}}</h3>
<p></p>
<button nz-button nzType="primary" [routerLink]="['/']">GO BACK TO MONTH</button>
<p></p>
<nz-alert *ngIf="celebration"
  nzType="success"
  nzMessage="On this day celebration : {{celebration}}">
</nz-alert>

<app-add-event-modal [selectMoment]="momentDate"
                     [checkWordCount]="checkWordCount"
                     [momentDate]="momentDate"
                     [available]="available"
                     (currentLocalStorage)="submitForm($event)">
</app-add-event-modal>

<ul class="schedule">
  <li *ngFor="let data of scheduleData" class="schedule-list" [class.have-event]="data.event?.length > 0">
    <span>{{data.time}}</span>
    <ul class="schedule-list_event">
      <app-calendar-day-event *ngFor="let item of data.event"
                              [item]="item"
                              [momentDate]="momentDate"
                              (emitDeleted)="emitDeleted($event)"
                              (emitShowModal)="showEditModal($event)"
      >
      </app-calendar-day-event>
    </ul>
  </li>
</ul>

<app-edit-modal (emitEvent)="editEvent($event)"
                [checkWordCount]="checkWordCount"
                #editModal>
</app-edit-modal>
