<p></p>
<button nz-button [nzType]="'primary'" (click)="showModal()" [disabled]="!available"><span>Add Event</span></button>
<p></p>
<nz-modal [(nzVisible)]="isVisible"
          nzTitle="Add event on this day"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="submitForm()"
          [nzOkDisabled]="validateForm.invalid">
  <form nz-form [formGroup]="validateForm" [nzLayout]="'inline'" (ngSubmit)="submitForm()" #myForm="ngForm">
    <nz-form-item>
      <nz-form-label nzFor="title" nzRequired>Title</nz-form-label>
      <nz-form-control>
        <nz-input-group >
          <input formControlName="title" id="title" nz-input placeholder="Title" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('title')?.dirty && validateForm.get('title')?.errors">
          The input is not valid !
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="description" nzRequired>Description</nz-form-label>
      <nz-form-control>
        <nz-input-group >
          <input formControlName="description" id="description" nz-input placeholder="Description" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('description')?.dirty && validateForm.get('description')?.errors">
          The input is not valid !
        </nz-form-explain>
        <nz-form-explain *ngIf="validateForm.get('description')?.dirty && validateForm.get('description')?.errors?.countWord">
          Need more than {{validateForm.get('description')?.errors?.countWord}} words !
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="timePick" nzRequired>Choose time</nz-form-label>
      <nz-form-control>
        <!--Can be warning in console beacuse ng-zorro can't work with standalone -->
        <nz-time-picker formControlName="timePick" id="timePick" [(ngModel)]="time" nzFormat="HH:mm" ></nz-time-picker>
        <nz-form-explain *ngIf="validateForm.get('timePick')?.dirty && validateForm.get('timePick')?.errors">
          The input is not valid !
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
