<h1>Calendar App by Andrei Kuzmich, created by Angular</h1>

<div class="calendar-nav">
  <div nz-row>
    <div nz-col class="switch-month">
      <button nz-button
              nzType="primary"
              (click)="changeNavMonth(-1)"
              [disabled]="!canChangeNavMonth(-1)"
      >
        <i nz-icon nzType="left" nzTheme="outline"></i>
        Prev month
      </button>
      <div class="switch-month-pad">{{navDate.format('MMMM YYYY')}}</div>
      <button nz-button
              nzType="primary"
              (click)="changeNavMonth(1)"
              [disabled]="!canChangeNavMonth(1)"
      >
        Next month
        <i nz-icon nzType="right" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>

<div class="calendar-header">
  <div class="calendar-date"
       *ngFor="let day of weekDaysHeader; let i=index">
    <div nz-card-grid class="greed-style">
      <span [class.weekends]="isWeekendsDay(day)">{{day}}</span>
    </div>
  </div>
</div>

<div *ngFor="let day of grid">
  <div nz-card-grid  class="greed-style card-grid"
       [class.today]="day.today"
       [class.isholiday]="day.holiday && day.holiday !== false"
       [class.is-disabled]="!day.available && day.value !== 0"
       (click)="openDayInfo(day.value, day.available)">
    <nz-badge [nzCount]="day.events"
              class="badge-position"
    ></nz-badge>
    <span *ngIf="day.value !== 0" [class.weekends]="day.weekends">{{day.value}}</span>
    <span *ngIf="day.value === 0" [class.weekends]="day.weekends">&nbsp;</span>
  </div>
</div>




